@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

.float{
	position:fixed;
	bottom:40px;
     width: 80%; 
	text-align:center;
}

.my-float{
	margin-top:22px;
}

.btn {
    border-radius: 0;
}